@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fdfbf7; /* Soft cream */
  color: #333333;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

html {
  scroll-behavior: smooth;
}
